{% extends 'base/base.html'%}

{% block content%}
    <div class="col-md-8 col-md-offset-1">
            {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>
<form method = "post">
    {%csrf_token%}
    <div class="col-md-10">
        {{form.as_p}}
        <input class="btn btn-primary btn-large" type="submit" value="Guardar"/>
        <a class="btn btn-default" href="{% url 'usuario:listar' %}">Cancelar</a>
    </div>
</form>
{% endblock %}