{% extends 'base/base.html' %}
{% block title %}Lista de Usuarios{% endblock %}
{% block content %}
<div class="table-responsive" style="max-height: 70vh; overflow-y: scroll;">
<table class="table table-bordered">
    <thead>
        <tr>
            <td>id</td>
            <td>Nombre de Usuario</td>
            <td>Nombres</td>
            <td>Apellidos</td>
            <td>Rol de Sistema</td>
            <td>Estado</td>
            <td>Opciones</td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
                {% for usuario in object_list %}

                        <tr>
                            <!-- VERSION 2.0 -->
                            {% if usuario.groups.all %}
                                <td>{{usuario.id }}</td>
                                <td>{{usuario.username}}</td>
                                <td>{{usuario.first_name}}</td>
                                <td>{{usuario.last_name}}</td>
                                {% for user_group in usuario.groups.all %}
                                    <td>{{user_group}}</td>
                                {%endfor%}
                                {% if usuario.is_active %}
                                    <td>Activo</td>
                                {% else %}
                                    <td>Desactivado</td>
                                {% endif %}
                                <td>
                                    <a class="btn btn-primary" href="{%  url 'usuario:usuario_editar' usuario.id %}"> Editar</a>
                                    <a class="btn btn-danger" href="{% url 'usuario:usuario_eliminar' usuario.id %}">Eliminar</a>
                                </td>
                            {% endif %}
                      

                        <!-- VERSION 1.0
                             <td>{{usuario.id }}</td>
                            <td>{{usuario.username}}</td>
                            <td>{{usuario.first_name}}</td>
                            <td>{{usuario.last_name}}</td>
                        
                            
                            {% if usuario.groups.all %}
                                {% for user_group in usuario.groups.all %}
                                     <td>{{user_group}}</td>
                                {%endfor%}
                            {% else %}
                                <td>Superusuario</td>
                            {% endif %}
                       
                            {% if usuario.is_active %}
                                    <td>Activo</td>
                            {% else %}
                                    <td>Desactivado</td>
                            {% endif %}
                            <td>
                                <a class="btn btn-primary" href="{%  url 'usuario:usuario_editar' usuario.id %}"> Editar</a>
                                <a class="btn btn-danger" href="{% url 'usuario:usuario_eliminar' usuario.id %}">Eliminar</a>
                            </td>
                        -->
                        </tr>
                    {%endfor%}
            {% else %}
                <h1> No hay registros de usuarios </h1>
            {% endif %}
        </tbody>
    </table>
</div>
<a class="btn btn-primary" href="{% url 'usuario:registrar' %}">Registrar Usuario</a>
{% endblock%}
