{% extends 'base/base.html' %}

{% block extraestilo %}
    .d-block{
        border-radius: 5px;
    }
    .btn {
        min-height: 40px;
        max-height: 40px;
        border-radius: 5px;
        font-size: 15px;
    }
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
<div class="container" style="margin-top: 10vh;">
    <div class="header">
        <!-- Cabecera: SGP -->
        <!-- valor orignial en los class "col-md-6 col-md-offset-3" -->
         <div class="row">
            <div class="col-md-5 col-md-offset-3">
                <div class="d-block p-5 bg-primary text-white">
                    <h1 align="center" >SGP</h1>
                    <p class="lead" align="center" >Sistema Gestor de Proyectos</p>
                </div>
            </div>
         </div>
    </div>
    <div class="body">
        <!-- Nombre del usuario-->
         <div class="row">
            <div class="col-md-5 col-md-offset-3">
                <div class="form-group">
                    <label class="required" for="username">Nombre de usuario: </label>
                    <input class="form-control" type="text" name="username" autofocus="" required="">
               </div>
            </div>
        </div>
        <!-- Contraseña -->
        <div class="row">
            <div class="col-md-5 col-md-offset-3">
                <div class="form-group">
                        <label class="required" for="password">
                                    <!-- Olvidé mi contraseña-->
                            Contraseña:<a  class="pull-right" href="{% url 'password_reset' %}" style="margin-left: 15vw">Olvidé mi contraseña</a>
                        </label>
                    <input class="form-control" type="password" name="password" autofocus="" required="">
               </div>
            </div>
        </div>
        <!-- Botón Ingresar -->
        <div class="row">
            <div class="col-md-5 col-md-offset-3">
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" >Ingresar</button>
               </div>
            </div>
        </div>
    <!-- Captura de errores -->
            <!-- Error de Contraseña -->
                {% if form.errors %}
                    <div class="row">
                        <div class="col-md-5 col-md-offset-3">
                            <div class="required">
                                <p class="alert alert-warning" role="alert"> Cuenta no existe o contraseña incorrecta. <br> Intente de nuevo </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- Usuario desactivado o pulsa el boton ingresar sin una cuenta-->
                {% if next %}
                    {% if user is authenticate%}
                        <div class="row">
                            <div class="col-md-5 col-md-offset-3">
                                <div class="required">
                                    <p class="alert alert-danger" role="alert">Usuario esta desactivado. <br>Consulte con el Administrador</p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-md-5 col-md-offset-3">
                                <div class="required">
                                    <p class="alert alert-danger" role="alert">Inicie sesión para ingresar a la página.</p>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                {% endif %}
         <br class="clear">
    </div>
</div>
</form>
{% endblock %}