{% extends 'base/base.html'%}

	<title>{% block title %}Reestablecer contraseña{% endblock %}</title>

{% block navbar %}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="container" style="margin-top: 10vh;">
            <div class="header">
                <!-- Cabecera: SGP -->
                 <div class="row">
                    <div class="col-md-5 col-md-offset-3">
                        <div class="d-block p-5 bg-primary text-white">
                            <h1 align="center" >SGP</h1>
                            <p class="lead" align="center" >Sistema Gestor de Proyectos</p>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="body">
                <!-- Nombre del usuario-->
                 <div class="row">
                    <div class="col-md-5 col-md-offset-3">
                        <div class="form-group">
                            <p>Ingrese su correo de usuario, al cual se le enviará un link de reestablecimiento de contraseña </p>
                            <label for="id_email">Correo: {{form.email}} </label>
                            <input class="btn btn-primary btn-block" type="submit"     value="Enviar"/>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}