{%extends 'base/base.html'%}
{%block navbar%}
{%endblock%}

{%block content%}
        <form method="post">
	    {% csrf_token %}
            <div class="container" style="margin-top: 10vh;">
                <div class="header">
                    <!-- Cabecera: SGP -->
                     <div class="row">
                        <div class="col-md-5 col-md-offset-3">
                            <div class="d-block p-5 bg-primary text-white">
                                <h1 align="center" >SGP</h1>
                                <p class="lead" align="center" >Sistema Gestor de Proyectos</p>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="body">
                    <!-- Nombre del usuario-->
                     <div class="row">
                        <div class="col-md-5 col-md-offset-3">
                            <div class="form-group">
                                <h1 class="text-center">Su contraseña se reestablecio correctamente</h1>
                                <p class="text-center btn btn-primary btn-block"><a href={%url 'login'%}>Iniciar sesion</a></p>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
{% endblock%}