{% extends 'base/base.html'%}

{% block navbar%}
{% endblock%}

{% block content%}
<form method="post">
{% csrf_token %}
    <div class="container" style="margin-top: 10vh;">
        <div class="header">
            <!-- Cabecera: SGP -->
             <div class="row">
                <div class="col-md-5 col-md-offset-3">
                    <div class="d-block p-5 bg-primary text-white">
                        <h1 align="center" >SGP</h1>
                        <p class="lead" align="center" >Sistema Gestor de Proyectos</p>
                    </div>
                </div>
             </div>
        </div>
        <div class="body">
            <!-- Nombre del usuario-->
             <div class="row">
                <div class="col-md-5 col-md-offset-3">
                    <div class="form-group">
                        {% if validlink%}
                            <h3> Nueva contraseña</h3>
                            {{form.new_password1.errors}}
                            <label for="id_new_password1">Nueva contraseña:</label>
                            {{form.new_password1}}
                            {{form.new_password2.errors}}
                            <label for="id_new_password2">Confirme contraseña:</label>{{form.new_password2}}
                            <input class="btn btn-primary btn-block" type="submit" value="Cambiar mi contraseña"/>
                        {% else %}
                            <h1 class="text-center"> ENLACE INVALIDO: YA HA SIDO UTILIZADO</h1>
                        {% endif%}
                   </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock%}