{% extends 'base/base.html' %}

{% block title %}Gestor de Proyectos{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <br/>
                <div class="list-group">
                    <a href="
                        {% if project %}
                            {% url 'proyecto:editar' project.id %}
                        {% endif %}" class="list-group-item list-group-item-action active"> Proyecto <button type="button" class="btn btn-primary fas fa-edit"></button></a>
                    <a href="#" class="list-group-item list-group-item-action"><b>Código: </b> {{ project.codigo }}</a>
                    <a href="#" class="list-group-item list-group-item-action"><b>Nombre: </b> {{ project.nombre }}.</a>
                    <a href="#" class="list-group-item list-group-item-action "><b>Estado: </b> {{ project.estado }}</a>
                    <a href="#" class="list-group-item list-group-item-action"><b>Descripcion: </b> {{ project.descripcion }} </a>
                    <a href="#" class="list-group-item list-group-item-action "><b>Fecha de Inicio: </b> {{ project.fechaInicio }}</a>
                    <a href="#" class="list-group-item list-group-item-action "><b>Fecha de Finalización: </b> {{ project.fechaFin }}</a>
                    <a href="#" class="list-group-item list-group-item-action "><b>Tiempo Restante: </b> {{ project.tiempoRestante }}</a>
                </div>
                <br/>
{#                <a href="productBacklog.html">#}
{#                    <button type="button" class="btn btn-info disabled">Product Backlog</button>#}
{#                </a>#}
{#                <a href="reportes.html">#}
{#                    <button type="button" class="btn btn-info" >Reportes</button>#}
{#                 </a>#}
                <br/><br/>
            </div>
            <div class="col-md-6" style="height: 500px">
{#                <h1 style="text-align: center"> Sprints </h1>#}
{#                <div class="card text-center">#}
{#                        <div class="card-header"> Sprint 4 </div>#}
{#                        <div class="card-body">#}
{#                        <p class="card-text">Total de U.S : xx . <a href="sprint.html" class="btn btn-primary">Ver</a> </p>#}
{#                        </div>#}
{#                        <div class="card-footer text-muted"> Restante 2 dias </div>#}
{#                </div>#}
{#                <h2 style="text-align: center"> sprints finalizados</h2>#}
{#                <div style="height: 45%;overflow-y: scroll">#}
{#                    <div class="card text-center">#}
{#                            <div class="card-header"> Sprint 1 </div>#}
{#                            <div class="card-body">#}
{#                            <p class="card-text">Total de U.S : xx . <a href="#" class="btn btn-primary">Ver</a> </p>#}
{#                            </div>#}
{#                            <div class="card-footer text-muted"> finalizado </div>#}
{#                    </div>#}
{#                    <br/>#}
{#                    <div class="card text-center">#}
{#                            <div class="card-header"> Sprint 2 </div>#}
{#                            <div class="card-body">#}
{#                            <p class="card-text">Total de U.S : xx . <a href="#" class="btn btn-primary">Ver</a> </p>#}
{#                            </div>#}
{#                            <div class="card-footer text-muted"> finalizado </div>#}
{#                    </div>#}
{#                    <br/>#}
{#                    <div class="card text-center">#}
{#                            <div class="card-header"> Sprint 3 </div>#}
{#                            <div class="card-body">#}
{#                            <p class="card-text">Total de U.S : xx . <a href="#" class="btn btn-primary">Ver</a> </p>#}
{#                            </div>#}
{#                            <div class="card-footer text-muted"> finalizado </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
            <div class="col-md-3 ">
                <br/>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active"> Miembros </a>
                    {% for m in miembro %}
                        <a href="../proyecto/{{ project.id }}/miembro/modificar/{{m.id}}" class="list-group-item list-group-item-action">
                            {{m.usuario.first_name}} {{m.usuario.last_name}}
                            <button type="button" class="fas fa-edit"></button>
                        </a>
                    {% endfor %}
                </div>
                <br/><br/>
            </div>
        </div>
    </div>
{% endblock %}