{% extends 'base/base.html' %}


{% block navbar %}
<div class="bs-docs-section clearfix">
    <div class="row">
        <div class="col-lg-12">
            <div class="bs-component">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <!--Responsive para moviles-->
                        <div class="navbar-header">

                             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                 <span class="icon-bar"></span>
                                 <span class="icon-bar"></span>
                                 <span class="icon-bar"></span>
                             </button>
                             <a class="fas fa-home navbar-brand" href="{% url 'usuario:index' %}"> Home</a>
                        </div>

                        <!--Contenido del la barra navegador-->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">

                                <!-- Boton Listar proyectos: vuelve a la lista de proyectos-->
                                <li class="dropdown">
                                    <a href="{% url 'proyecto:listar' %}" role="button" aria-expanded="false">Lista de Proyectos</a>
                                </li>

                                <!-- Menu de Roles de Proyecto: Listar, Registrar-->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Roles de Proyecto<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{% url 'proyecto:rolProyecto:listar' proyecto.id%}">Lista de Roles</a></li>
                                        <li><a href="{% url 'proyecto:rolProyecto:crear' proyecto.id%}">Registrar Rol</a></li>
                                    </ul>
                                </li>
                                <!-- Menu de Tipo de User Story: Listar, Registrar-->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tipo de US<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{% url 'proyecto:tus:listar' proyecto.id%}">Listar TUS</a></li>
                                        <li><a href="{% url 'proyecto:tus:crear' proyecto.id%}">Crear TUS</a></li>
                                    </ul>
                                </li>
                                <!-- Menu de User Story: Listar, Registrar-->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">US<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{% url 'proyecto:us:listar_us' proyecto.id%}">Listar US</a></li>
                                        <li><a href="{% url 'proyecto:us:crear' proyecto.id%}">Crear US</a></li>
                                    </ul>
                                </li>
                                <!-- Menu de Miembro: Listar, Añadir-->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Miembro<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{% url 'proyecto:miembro:listar' proyecto.id%}">Listar Miembros</a></li>
                                        <li><a href="{% url 'proyecto:miembro:agregar' proyecto.id%}">Agregar Miembros</a></li>
                                    </ul>
                                </li>
                                <!-- Boton de Product Backlog: muestra el Product Backlog-->
                                <li class="dropdown">
                                    <a href="{% url 'proyecto:miembro:productBacklog' proyecto.id%}" role="button" aria-expanded="false">Product Baclog</a>
                                </li>
                                <!-- Boton de Kanban: muestra el kanban-->
                                <li class="dropdown">
                                    <a href="{% url 'proyecto:kanban' proyecto.id%}" role="button" aria-expanded="false">Tablero kanban</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sprint<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{% url 'proyecto:sprint:listar_sprint' proyecto.id%}">Listar Sprint</a></li>
                                        <li><a href="{% url 'proyecto:sprint:crear' proyecto.id%}">Crear Sprint</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <!-- Menu de Opciones: Salir-->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle far fa-user" data-toggle="dropdown" role="button" aria-expanded="false">{{ request.user }}<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{% url 'logout' %}" style="display: inline;">Salir</a><i class="fas fa-sign-out-alt" style="display: inline;"></i></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}