{% extends 'base/base.html' %}
{% block title %}Lista de Roles{% endblock %}
{% block content %}
<div class="table-responsive" style="max-height: 70vh; overflow-y: scroll;">
<table class="table table-bordered">
    <h1 align='center'><b>ROLES DE SISTEMA</b></h1>
    <theard>
        <tr>
            <td>id</td>
            <td>Nombre del Rol</td>
            <td>Permisos</td>
            <td>Opciones</td>
        </tr>
    </theard>
    <tbody>
        {% if object_list %}
                {% for rol in object_list %}
                    <tr>
                        <td>{{ rol.id }}</td>
                        <td>{{ rol.name }}</td>
                        <td>
                            {% for p in rol.permissions.all %}
                            {% if forloop.first %}  
                                {{ p.name }}
                            {% else %}
                                , {{ p.name }}
                            {% endif %}
                            {%endfor%}
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'rol:rol_modificar' rol.id %}">Modificar</a>
                            <a class="btn btn-danger" href="{% url 'rol:rol_eliminar' rol.id %}">Eliminar</a>
                        </td>
                    </tr>
                {%endfor%}
        {% else %}
            <h1> No hay registros de Roles </h1>
        {% endif %}
    </tbody>
</table>
</div>
<a  class="btn btn-primary" href="{% url 'rol:crear' %}">Registrar Rol</a>
{% endblock%}