    {% extends 'base/base.html'%}

<!-- BOTÓN ACTIVO -->
{% block roles_active %}
    active
{% endblock %}

{% block title %}
    Roles | Editar: {{ object.name }}
{% endblock %}

{% block content %}
    <div class="container pt-3 ">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Guardar Cambios</button>
            <a class= "btn btn-default" href="{% url 'rol:listar' %}">Cancelar</a>
        </form>
    </div>
    <style>
        input{
              width: 87%;
              min-height: 10px;
        }
        select{
                width: 100%;
                min-height: 350px;
        }
    </style>
{% endblock %}