{% extends 'base/base.html' %}

{% block content %}
<div style="text-align: center">
    <form method="post">
        {% csrf_token %}
        <h3>¿Desea Eliminar el rol {{ object.name }}? </h3>
        <button class="btn btn-danger" type="submit">Si, eliminar </button>
        <a class="btn btn-default" href="{% url 'rol:listar' %}">Cancelar</a>
    </form>
</div>
{% endblock %}