{% extends 'base/base.html'%}

<!-- BOTÓN ACTIVO -->
{% block roles_active %}
    active
{% endblock %}

{% block title %}
    Roles | Nuevo Rol
{% endblock %}

{% block content %}
    <div class="container center-block pt-3">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Nombre del Rol:</label>
                        <input class="form-control" type="text" name="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Permisos:</label>
                        <p>
                        {{ form.permissions}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <button class="btn btn-primary "type="submit">Crear</button>
                        <a class= "btn btn-default" href="{% url 'rol:listar' %}">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
        <style>
            select{
                width: 100%;
                min-height: 350px;
            }
        </style>
    </div>
{% endblock %}