{% extends 'base/base.html'%}

{% block content%}
<form method = "post">
	{%csrf_token%}
    <div class="input-group">
        {{form.as_p}}
    </div>
    </div>
{#	<button type="submit"> Guardar </button>#}
	<button class="btn btn-primary" type="submit"> Guardar </button>
    <a class="btn btn-default" href="{% url 'proyecto:listar' %}">Cancelar</a>
</form>
<script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format : 'DD/MM/YYYY HH:mm:ss',
        });
    });
</script>
{% endblock %}