{% extends 'base/proyecto.html' %}

{% block title %}
    Finalizar User Story
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
    <div class="container center-block">
        <p> </p>
        <h3>Confirmacion de Finalizacion</h3>
	    <h4>&nbsp;¿Desea Finalizar el user story ?</h4>
	    <button class="btn btn-danger" type="submit">Finalizar</button>
        <a class="btn btn-default" href="/proyecto/{{ proyecto.id }}/kanban">Cancelar</a>
    </div>
</form>
{% endblock %}
