{% extends 'base/proyecto.html' %}

{% block title %}Gestor de Proyectos{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <br/>
                <div class="list-group">
                    <a href="{% url 'proyecto:editar' proyecto.id %}" class="list-group-item list-group-item-action active"> Proyecto <button type="button" class="btn btn-primary fas fa-edit"></button></a>
                    <a href="#" class="list-group-item list-group-item-action"><b>Código: </b> {{ proyecto.codigo }}</a>
                    <a href="#" class="list-group-item list-group-item-action"><b>Nombre: </b> {{ proyecto.nombre }}.</a>
                    <a href="#" class="list-group-item list-group-item-action "><b>Estado: </b> {{ proyecto.estado }}</a>
                    <a href="#" class="list-group-item list-group-item-action"><b>Descripcion: </b> {{ proyecto.descripcion }} </a>
                    <a href="#" class="list-group-item list-group-item-action "><b>Fecha de Inicio: </b> {{ proyecto.fechaInicio }}</a>
                    <a href="#" class="list-group-item list-group-item-action "><b>Fecha de Finalización: </b> {{ proyecto.fechaFin }}</a>
                    <a href="#" class="list-group-item list-group-item-action "><b>Tiempo Restante: </b> {{ proyecto.tiempoRestante }}</a>
                </div>
                <br/>
                {% if proyecto.estado == "Pendiente" %}
                    <form method="post" action={% url "proyecto:cambiar_estado" proyecto.id%}>
                        {% csrf_token %}
                        <input hidden name="estado" value="activo">
                        <button type="submit" class="btn btn-info ">Iniciar Proyecto</button>
                    </form>
                {% endif %}
                {% if proyecto.estado == "activo" %}
                    <form method="post" action={% url "proyecto:cambiar_estado" proyecto.id%}>
                        {% csrf_token %}
                        <input hidden name="estado" value="cancelado">
                        <button type="submit" class="btn btn-info" >Cancelar Proyecto</button>
                    </form>
                {% endif %}
                <br/><br/>
            </div>
            <div class="col-md-6" style="height: 500px">
{#                <h1 style="text-align: center"> Sprints </h1>#}
{#                <div class="card text-center">#}
{#                        <div class="card-header"> Sprint 4 </div>#}
{#                        <div class="card-body">#}
{#                        <p class="card-text">Total de U.S : xx . <a href="sprint.html" class="btn btn-primary">Ver</a> </p>#}
{#                        </div>#}
{#                        <div class="card-footer text-muted"> Restante 2 dias </div>#}
{#                </div>#}
{#                <h2 style="text-align: center"> sprints finalizados</h2>#}
{#                <div style="height: 45%;overflow-y: scroll">#}
{#                    <div class="card text-center">#}
{#                            <div class="card-header"> Sprint 1 </div>#}
{#                            <div class="card-body">#}
{#                            <p class="card-text">Total de U.S : xx . <a href="#" class="btn btn-primary">Ver</a> </p>#}
{#                            </div>#}
{#                            <div class="card-footer text-muted"> finalizado </div>#}
{#                    </div>#}
{#                    <br/>#}
{#                    <div class="card text-center">#}
{#                            <div class="card-header"> Sprint 2 </div>#}
{#                            <div class="card-body">#}
{#                            <p class="card-text">Total de U.S : xx . <a href="#" class="btn btn-primary">Ver</a> </p>#}
{#                            </div>#}
{#                            <div class="card-footer text-muted"> finalizado </div>#}
{#                    </div>#}
{#                    <br/>#}
{#                    <div class="card text-center">#}
{#                            <div class="card-header"> Sprint 3 </div>#}
{#                            <div class="card-body">#}
{#                            <p class="card-text">Total de U.S : xx . <a href="#" class="btn btn-primary">Ver</a> </p>#}
{#                            </div>#}
{#                            <div class="card-footer text-muted"> finalizado </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
            <div class="col-md-3 ">
                <br/>
                <div class="list-group">
                    <a href="{% url 'proyecto:miembro:listar' proyecto.id%}" class="list-group-item list-group-item-action active"> Miembros </a>
                    {% for m in miembro %}
                        <a href="{% url 'proyecto:miembro:modificar' proyecto.id m.id%}" class="list-group-item list-group-item-action">
                            {{m.usuario.first_name}} {{m.usuario.last_name}} ({{ m.usuario.username  }} )
                            <button type="button" class="fas fa-edit"></button>
                        </a>
                    {% endfor %}
                </div>
                <br/><br/>
            </div>
        </div>
    </div>
{% endblock %}