{% extends 'base/proyecto.html' %}

{% block title %}
    Kanban | {{ proyecto.nombre }}
{% endblock %}
{% block extraestilo %}
.btn-sm{
    background-color: white;
    border:none;
    color: white;
    padding: 1px 16px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px
}
.button{
    border-radius: 50% lime;
}
.btn-success {
    border-color: #4CAF50;
    color: green;
}
.btn-success:hover {
    background-color: #4CAF50;
    color: white;
}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid black; //Color del borde de la tabla
}

{% endblock %}
{% block content %}
    {% load guardian_tags %}
    {% get_obj_perms request.user for proyecto as "US_perms" %}
    <div class="container center-block">
        <div class="container-fluid">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1>
                        <p class="text-center">Kanban del proyecto: {{ proyecto.nombre }}</p>
                    </h1>
                </div>
                <div class="panel-body">
                    <p></p>
                    <a class= "btn btn-primary" href="/proyecto/{{ proyecto.id }}/detalle">Volver al proyecto</a>
                    {% if us_list %}
                        {% for tus in tus_list %}
                        <div class="table-responsive">
                            <table style="table-layout:fixed" class="table table-bordered table-striped table-hover border-collapse">
                                <thead>
                                    <caption style="color:#000000;"><center>Tipo de US: {{tus.nombre}} </center></caption>
                                    <tr>
                                    {% for f in tus.actividad_set.all %}
                                        <th colspan="3"><center>{{f.nombre}}</center></th>
                                    {% endfor %}
                                    </tr>
                                    <tr>
                                    {% for i in tus.actividad_set.all %}
                                        <th><center>To do</center></th>
                                        <th><center>Doing</center></th>
                                        <th><center>Done</center></th>
                                    {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for us in us_list %}
                                        {% if us.tipo_us == tus %}
                                            <tr>
                                            {% for f in tus.actividad_set.all %}
                                                {% if us.actividad_actual_id == f.id %}
                                                    {% if us.get_estado_kanban_display == 'To do'%}
                                                        <td><center>
                                                            <div class="box-orange" style="color:#ffffff; width: content-box; height: 80px; background-color: #2c3e50; border-color: transparent" >{{ us.nombre }}
                                                                <br>
                                                                <a class="btn btn-success btn-sm" style="padding: 1px 1px"  href={% url 'proyecto:cambiarUsuario' proyecto.id us.id%}>Cambiar usuario</a>
                                                                <a class="btn btn-success btn-sm" style="padding: 1px 1px"  href={% url 'proyecto:us:detalle_us' proyecto.id us.id%}>Ver user story</a>
                                                            </div>
                                                            {# for sprint in us.sprint_set.all #}
                                                                <!-- <h1>ENTRA EN el sprint<h1> -->
                                                                {#  if sprint.estado == "activo" and request.user.id == us.miembro.usuario.id #}
                                                                   <!-- <h1>ENTRA EN el usuario miembro asignado</h1> -->
{#                                                                  {% Este debe ser if forloop.parentloop.counter > 1 %}#}
                                                                     {% if forloop.counter > 1 %}
                                                                      <!-- Boton de flecha izquierda del to do -->

                                                                    <form method="post" style="display: inline;" action={% url "proyecto:cambiar_fase" proyecto.id us.id%}>
                                                                        {% csrf_token %}
                                                                        <input hidden name="actividad_actual" value="{{us.actividad_actual_id|add:"-1"}}" autofocus/><input hidden name="estado_kanban" value="2">
                                                                        <button class="btn btn-success btn-sm" type="submit" >
                                                                            <i class="fa fa-arrow-left" style="display: inline;"></i>
                                                                        </button>
                                                                    </form>
                                                                   <!-- Boton de flecha derecha del to do -->
                                                                    {% endif %}
                                                                    <form method="post" style="display: inline;" action={% url "proyecto:cambiar_fase" proyecto.id us.id %}>
                                                                        {%  csrf_token %}
                                                                        <input hidden name="actividad_actual" value="{{us.actividad_actual_id}}"/><input hidden name="estado_kanban" value="1">
                                                                        <button class="btn btn-success btn-sm" type="submit" style="display: inline;">
                                                                            <i class="fa fa-arrow-right" style="display: inline;"></i></button>
                                                                    </form>
                                                                <!-- Boton para el Scrum Master, mover entre to do de las actividades -->
                                                                {% if forloop.counter > 1 %}
                                                                  <!-- Boton de flecha izquierda del to do -->
                                                                <form method="post" style="display: inline;"  action={% url "proyecto:cambiar_fase" proyecto.id us.id%} >
                                                                    {% csrf_token %}
                                                                    <input hidden name="actividad_actual" value="{{us.actividad_actual_id|add:"-1"}}"/><input hidden name="estado_kanban" value="0">
                                                                    <button class="btn-primary btn-sm" type="submit" >
                                                                        <i class="fa fa-arrow-left" ></i>
                                                                    </button>
                                                                </form>
                                                               <!-- Boton de flecha derecha del to do -->
                                                                {% endif %}
                                                                {% if forloop.revcounter > 1 %}
                                                                <form method="post" style="display: inline; "action={% url "proyecto:cambiar_fase" proyecto.id us.id%} >
                                                                    {%  csrf_token %}
                                                                    <input hidden name="actividad_actual" value="{{us.actividad_actual_id|add:"1"}}"/><input hidden name="estado_kanban" value="0">
                                                                    <button class="btn-primary btn-sm" type="submit" >
                                                                        <i class="fa fa-arrow-right" ></i></button>
                                                                </form>
                                                                {% endif%}
                                                                {# endif #}
                                                            {#  endfor #}
                                                        </center></td>
                                                    {% else %}
                                                        <td></td>
                                                    {% endif %}
                                                    {% if us.get_estado_kanban_display == 'Doing' %}
                                                        <td><center>
                                                            <div class="box-orange" style="color:#ffffff; width: content-box; height: 80px; background-color: #2c3e50; border-color: transparent" >{{ us.nombre }}
                                                                <br>
                                                                <a class="btn btn-success btn-sm" style="padding: 1px 1px"  href={% url 'proyecto:cambiarUsuario' proyecto.id us.id%}>Cambiar usuario</a>
                                                                <a class="btn btn-success btn-sm" style="padding: 1px 1px"  href={% url 'proyecto:us:detalle_us' proyecto.id us.id%}>Ver user story</a>
                                                            </div>
                                                           {# for sprint in us.sprint_set.all #}
                                                                {#  if sprint.estado == "En ejecución" and request.user.id == us.team_member.usuario.id #}
                                                                     <!-- Boton de flecha derecha del doing -->
                                                                    <form method="post" style="display: inline;" action={% url "proyecto:cambiar_fase" proyecto.id us.id %}>
                                                                        {% csrf_token %}
                                                                        <input hidden name="actividad_actual" value="{{us.actividad_actual_id}}" autofocus/><input hidden name="estado_kanban" value="0">
                                                                        <button class="btn btn-success btn-sm" type="submit" style="display: inline;">
                                                                            <i class="fa fa-arrow-left" style="display: inline;"></i>
                                                                        </button>
                                                                    </form>
                                                                      <!-- Boton de flecha derecha del doing -->
                                                                    <form method="post" style="display: inline"; action={% url "proyecto:cambiar_fase" proyecto.id us.id %} >
                                                                        {% csrf_token %}
                                                                        <input hidden name="actividad_actual" value="{{us.actividad_actual_id}}"/><input hidden name="estado_kanban" value="2">
                                                                        <button class="btn btn-success btn-sm" type="submit" style="display: inline; ">
                                                                            <i class="fa fa-arrow-right" style="display: inline;"></i>
                                                                        </button>
                                                                    </form>
                                                                {#  endif #}
                                                            {# endfor #}
                                                        </center></td>
                                                    {% else %}
                                                        <td></td>
                                                    {% endif %}
                                                    {% if us.get_estado_kanban_display == 'Done' %}
                                                        <td><center>
                                                            <div class="box-orange" style="color:#ffffff; width: content-box; height: 80px; background-color: #2c3e50; border-color: transparent" >{{ us.nombre }}
                                                                <br>
                                                                <a class="btn btn-success btn-sm" style="padding: 1px 1px"  href={% url 'proyecto:cambiarUsuario' proyecto.id us.id%}>Cambiar usuario</a>
                                                                <a class="btn btn-success btn-sm" style="padding: 1px 1px"  href={% url 'proyecto:us:detalle_us' proyecto.id us.id%}>Ver user story</a>
                                                            </div>
                                                        {#  for sprint in us.sprint_set.all #}
                                                            {# Este debe ser   if sprint.estado == "En ejecución" and request.user.id == us.team_member.usuario.id #}
{#                                                                {% if forloop.parentloop.revcounter > 1 %}#}
                                                        {% if forloop.revcounter > 1 %}
                                                            <!-- Boton de flecha izquierda del done -->
                                                                    <form method="post" style="display: inline;" action={% url "proyecto:cambiar_fase" proyecto.id us.id%} >
                                                                        {% csrf_token %}
                                                                        <input hidden name="actividad_actual" value="{{us.actividad_actual_id}}" autofocus/><input hidden name="estado_kanban" value="1">
                                                                        <button class="btn btn-success btn-sm" type="submit" style="display: inline;">
                                                                            <i class="fa fa-arrow-left" style="display: inline;"></i>
                                                                        </button>
                                                                    </form>
                                                            <!-- Boton de flecha izquierda del done -->
                                                                    <form method="post" style="display: inline;" action={% url "proyecto:cambiar_fase" proyecto.id us.id%} >
                                                                        {%  csrf_token %}
                                                                        <input hidden name="actividad_actual" value="{{us.actividad_actual_id|add:"1"}}"/><input hidden name="estado_kanban" value="0">
                                                                        <button class="btn btn-success btn-sm" type="submit" style="display: inline;">
                                                                            <i class="fa fa-arrow-right" style="display: inline;"></i>
                                                                        </button>
                                                                    </form>
                                                            {%  else %}
                                                                <i class="fas fa-warning"></i>&nbsp;Control de Calidad
                                                            {% if forloop.counter > 1 %}
                                                                  <!-- Boton de flecha izquierda del to do -->
                                                                <form method="post" style="display: inline;"  action={% url "proyecto:cambiar_fase" proyecto.id us.id%} >
                                                                    {% csrf_token %}
                                                                    <input hidden name="actividad_actual" value="{{us.actividad_actual_id|add:"-1"}}"/><input hidden name="estado_kanban" value="0">
                                                                    <br>
                                                                    <button class="btn-primary btn-sm" type="submit" >
                                                                        <i class="fa fa-arrow-left" ></i>
                                                                    </button>
                                                                </form>
                                                               <!-- Boton de flecha derecha del to do -->
                                                                {% endif %}
                                                            {% endif %}
                                                            <!--{# elif sprint.estado == "E" and forloop.parentloop.revcounter == 1 #}
                                                                <i class="glyphicon glyphicon-warning-sign"></i>&nbsp;Control de Calidad-->
                                                            {# endif #}
                                                        {# endfor #}
                                                        </center></td>
                                                    {% else %}
                                                        <td></td>
                                                    {% endif %}
                                                    <p></p>

                                                {% else %}
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                {% endif %}
                                            {% endfor %}
                                            </tr>
                                        <p></p>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2>No hay registro de US en ejecución</h2>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}