{% extends 'base/proyecto.html' %}

{% block title %}
    Product Backlog
{% endblock %}

{% block content %}
    {% load guardian_tags %}
    {% get_obj_perms request.user for proyecto as "US_perms" %}
    <div class="container-fluid">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1>
                    <p class="text-center">{{ proyecto.nombre }} : Product Backlog</p>
                </h1>
            </div>
            <div class="panel-body">
                <p></p>
                <a class= "btn btn-primary" href="/proyecto/{{ proyecto.id }}/detalle">Volver al proyecto</a>
            <!--
                <p align="right">
                    {# if proyecto.estado != "Proyecto Cancelado" and proyecto.estado != "Finalizado" #}
                    <a class="btn btn-success" href="/proyecto/{#{ proyecto.id }#}/userstory/crear_us">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                     {#  endif #}
                </p>-->
                <table class="table table-bordered">
                    <div><p> </p></div>
                    {% if us_list %}
                    <thead>
                        <tr>
                            <td><b><center>N°</center></b></td>
                            <td><b><center>Id</center></b></td>
                            <td><b><center>Nombre</center></b></td>
                            <td><b><center>Descripción</center></b></td>
                            <td><b><center>Tipo US</center></b></td>
                            <td><b><center>Actividad</center></b></td>
                            <td><b><center>Estado</center></b></td>
                            <td><b><center>Prioridad</center></b></td>
                            <td><b><center>Asignado a:</center></b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <div></div>
                            {% for us in us_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ us.id }}</td>
                                    <td>{{ us.nombre }}</td>
                                    <td>{{ us.descripcion_corta }}</td>
                                    <td>{{ us.tipo_us }}</td>
                                    <td><center>{{ us.actividad_actual }}</center></td>
                                    <td><center>{{ us.get_estado_kanban_display }}</center></td>
                                    <td><center>{{ us.prioridad_final }}</center></td>
                                    {% if us.team_member.id == null %}
                                        <td style="color:#ff7b08" ;><i>Aún no ha sido asignado a algún integrante</i></td>
                                    {% else %}
                                        <td>{{ us.team_member.usuario.username }}</td>
                                    {% endif %}
                                    <td><center>
                                        {#  if "view_us" in US_perms #}
                                            <a class="btn btn-default" href="/proyecto/{{ proyecto.id }}/us/detalle_us/{{ us.id }}">Ver más</a>
                                        {# endif #}
                                    </center></td>
                                </tr>
                            {% endfor %}
                    </tbody>
                    {% else%}
                        <h2>No hay registros de User Stories</h2>
                    {% endif %}
                </table>
                <ul class="pagination">
                    <li class="page-item">
                        {% if page_obj.has_previous %}
                         <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if page_obj.has_next %}
                         <a class="page-link" aria-label="Siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}