{% extends 'base/base.html' %}
{% block title %}Lista de Proyectos{% endblock %}
{% block content %}
<div class="table-responsive" style="max-height: 70vh; overflow-y: scroll;">
    <table class="table table-bordered">
        <theard>
            <tr>
                <td>Codigo</td>
                <td>Nombre</td>
                <td>TiempoRestante</td>
                <td>Estado</td>
                <td>Opciones</td>
            </tr>
        </theard>
        <tbody>
            {% if object_list %}
                    {% for proyecto in object_list %}
                    <tr>
                        <td>{{proyecto.codigo }}</td>
                        <td>{{proyecto.nombre }}</td>
                        <td>{{proyecto.tiempoRestante}}</td>
                        <td>{{proyecto.estado}}</td>
                        <td>
                            <a class="btn btn-default" href="{% url 'proyecto:index' proyecto.id %}">Detalle</a>
                            <a class="btn btn-primary" href="{%  url 'proyecto:editar' proyecto.id %}"> Editar</a>
                            <a class="btn btn-danger" href="{% url 'proyecto:eliminar' proyecto.id %}">Eliminar</a>
                        </td>
                    </tr>
                    {%endfor%}
            {% else %}
                <h1> No hay registros de proyectos </h1>
            {% endif %}
        </tbody>
    </table>
</div>
<a class="btn btn-primary" href="{% url 'proyecto:registrar' %}">Crear Proyecto</a>
{% endblock%}
