{% extends 'base/proyecto.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto sprint_active=True %}
{% endblock %}

{% block title %}
    Sprints | Nuevo Sprint
{% endblock %}

{% block content %}
<div class="container pt-3 ">
    <form method="post">
        <a class= "btn btn-default" href="{% url 'proyecto:sprint:listar_sprint' proyecto.id%}">Volver a la lista de Sprints</a>
        {% csrf_token %}
        {% if object %}
            <h3>Editar atributos del Sprint </h3>
        {% else %}
            <h3>Creación de Sprint</h3>
        {% endif %}
        {% if object %}
            <div>
                <label>Estado:</label> {{ object.estado }}
            </div>
        {% endif %}
        <div>
            <label> Duración estimada del Sprint (en días): </label>
            <input type="number" value="{{ object.duracion }}" name="duracion" min="1" required onchange="ver_horas()">
        </div>
        <div>
            <label> Horas de Trabajo disponibles del Sprint Team:</label>
            <p id="anuncio_hs_disponibles" style="display:inline"></p>
        </div>
        <div>
            <label> Horas de Trabajo asignadas en el Sprint Backlog: </label>
            <p id="anuncio_hs_utilizadas" style="display: inline"></p>
        </div>
        <div class="col-sm-6 col-md-6">
            <label id="id_sprintBacklog">Sprint Backlog:</label>
            <div class="pre-scrollable">
            <table class="table table-striped table-bordered ">
                <thead>
                <tr>
                    <td>#</td>
                    <td>User Story</td>
                    <td>Estado</td>
                    <td>Prioridad</td>
                    <td>Duracion</td>
                    <td>Asignar</td>
                </tr>
                </thead>
                <tbody>
                {% for US in US_list %}
                    <tr>
                    <td>
                    <input type="checkbox" name="sprintBacklog" value="{{ US.id }}"
                        onclick="seleccionar_backlog()" id="id_sprintBacklog_{{ US.id }}"
                           {% if US in object.sprintBacklog.all %}checked{% endif %} />
                    </td>
                    <td>{{ US.nombre }}</td>
                    <td>{{ US.get_estado_display  }}</td>
                    <td>{{ US.prioridad_final }}</td>
                    <td>{{ US.tiempo_estimado }}</td>
                    <td>
                    <select name="asignar_{{ US.id }}" id="id_asignar_{{ US.id }}" onchange="ver_horas()">
                        <option value="" selected>---------</option>
                    {% for team in proyecto.miembro_set.all %}
                        <option value="{{ team.id }}" {% if US.team_member == team %}selected{% endif %}>
                            {{ team.usuario.username }}
                        </option>
                    {% endfor %}
                    </select>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <div class="col-sm-5 col-md-5">
            <label>Participantes del Sprint:</label>
            <div class="pre-scrollable">
            <table class="table table-striped table-bordered ">
                <thead>
                <tr>
                    <td>#</td>
                    <td>Team Member</td>
                    <td>Disponibilidad diaria</td>
                    <td>Disponibilidad en el Sprint</td>
                    <td>Horas Asignadas</td>
                </tr>
                </thead>
                <tbody>
                {% for team in proyecto.miembro_set.all %}
                    <tr>
                    <td>
                    <input type="checkbox" name="sprintTeam" value="{{ team.id }}"
                        onclick="seleccionar_team()" id="id_sprintTeam_{{ team.id }}"
                           {% if team in object.sprintTeam.all %}checked{% endif %} />
                    </td>
                    <td>{{ team.usuario.username }}</td>
                    <td>{{ team.horasDeTrabajo }}</td>
                    <td><p id="hs_disp_{{ team.id }}"></p></td>
                    <td><p id="hs_asig_{{ team.id }}"></p></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <a class= "btn btn-danger" href="{% url 'proyecto:sprint:listar_sprint' proyecto.id%}">Cancelar</a>
                    <button onclick="verificar()" class="btn btn-primary " type="submit">Guardar</button>
                </div>
            </div>
        </div>
    </form>
    <script>
        var us_ids = [{%for US in US_list %}{% if forloop.counter > 1%},{% endif %}{{US.id}}{% endfor %}]
        var us_hs = [{%for US in US_list %}{% if forloop.counter > 1%},{% endif %}{{US.tiempo_estimado}}{% endfor %}]
        var tm_ids = [{%for team in proyecto.miembro_set.all  %}{% if forloop.counter > 1%},{% endif %}{{team.id}}{% endfor %}]
        var tm_hs = [{%for team in proyecto.miembro_set.all  %}{% if forloop.counter > 1%},{% endif %}{{team.horasDeTrabajo}}{% endfor %}]
        console.log(us_ids)
        console.log(us_hs)
        console.log(tm_ids)
        console.log(tm_hs)
        function ver_horas() {
            var i;
            var total_asignado = 0;
            var total_disponible = 0;
            var dias = document.getElementsByName("duracion")[0].value
            for(i=0; i< tm_ids.length; i++){
                capacidad = document.getElementById("hs_disp_"+tm_ids[i])
                asignadas = document.getElementById("hs_asig_"+tm_ids[i])
                if ($('#id_sprintTeam_'+tm_ids[i]).is(":checked")){
                    total_disponible += tm_hs[i]
                    if(dias==""){
                        capacidad.innerText = "n/a"
                        asignadas.innerText = "n/a"
                    }else{
                        capacidad.innerText = tm_hs[i] * dias
                        var asg=  ver_asignados_por_team(tm_ids[i])
                        if (asg>tm_hs[i] * dias) {
                            asg = "<p style=\"display:inline;color:#ff6622;\">" + asg + "</p>"
                        }
                        asignadas.innerHTML = asg
                    }
                }else{
                    capacidad.innerText = ""
                    asignadas.innerText = ""
                }
            }
            for(i=0;i< us_ids.length; i++){
                if ($('#id_sprintBacklog_'+us_ids[i]).is(":checked")){
                    total_asignado += us_hs[i]
                }
            }
            if (dias!=""){
                total_disponible *= dias
                if (total_disponible<total_asignado){
                    total_asignado = total_asignado
                        + "<p style=\"display:inline;color:#ff6622;\"> ("
                        + (total_asignado-total_disponible) + " hs mas de lo previsto)</p>"
                }
            }else{
                total_disponible = "n/a"
            }

            document.getElementById("anuncio_hs_utilizadas").innerHTML = total_asignado
            document.getElementById("anuncio_hs_disponibles").innerHTML = total_disponible
        }
        function ver_asignados_por_team(tm_id) {
            var i;
            var ret=0;
            $("input[name=sprintBacklog]:checked").each(function () {
                var s = document.getElementById("id_asignar_"+this.value)
                if(s.options[s.selectedIndex].value==tm_id){
                    for(i=0;i< us_ids.length; i++){
                        if (us_ids[i]==this.value){
                            ret += us_hs[i];
                        }
                    }
                }
            });
            return ret;
        }
        function habilitar_asignacion() {
            var selec = $("input[name=sprintBacklog]:checked")
            var no_selec = $("input[name=sprintBacklog]:not(:checked)")
            selec.each(function () {
                var options = document.getElementById("id_asignar_"+this.value)
                options.hidden = false;
                options.disabled = false;
                options.required = true;
            });
            no_selec.each(function () {
                var options = document.getElementById("id_asignar_"+this.value)
                options.hidden = true;
                options.disabled = true;
                options.required = false;
            });
        }
        function habilitar_team() {
            var selec = $("input[name=sprintTeam]:checked")
            var no_selec = $("input[name=sprintTeam]:not(:checked)")
            selec.each(function(){
                var i,j;
                for (i=0;i<us_ids.length;i++){
                    var selec_team = document.getElementById("id_asignar_"+us_ids[i])
                    var op = selec_team.getElementsByTagName("option");
                    for (j=0;j< op.length; j++){
                        if(op[j].value == this.value){
                            op[j].hidden = false
                        }
                    }
                }
            });
            no_selec.each(function(){
                var i,j;
                for (i=0;i<us_ids.length;i++){
                    var selec_team = document.getElementById("id_asignar_"+us_ids[i])
                    var op = selec_team.getElementsByTagName("option");
                    for (j=0;j< op.length; j++){
                        if(op[j].value == this.value){
                            op[j].hidden = true
                        }
                    }
                    if(op[selec_team.selectedIndex].value == this.value){
                        for (j=0;j< op.length; j++){
                            if(op[j].value == ""){
                                selec_team.selectedIndex = j;
                            }
                        }
                    }
                }
            });
        }
        habilitar_asignacion();
        habilitar_team();
        ver_horas();
        function watch(lista,cantidad,validity,log){
            var k;
            var cant = $("input[name="+lista+"]:checked").length
            var boxes = document.getElementsByName(lista);
            console.log(log + " : "+ cant+"/"+boxes.length)
            if(cant==cantidad){
                for (k=0;k<boxes.length;k++){
                    boxes[k].setCustomValidity(validity);
                }
            }
        }

        function seleccionar_backlog() {
            watch('sprintBacklog',1,"","Sprint Backlog")
            habilitar_asignacion();
            ver_horas();
        }
        function seleccionar_team() {
            watch('sprintTeam',1,"","Sprint Team")
            habilitar_team()
            ver_horas()
        }
        function verificar() {
            watch('sprintBacklog',0,"El Sprint debe contar con al menos un User Story",
                "Cantidad de User Stories seleccionados");
            watch('sprintTeam',0,"El Sprint debe contar con al menos un Integrante",
                "Tamaño del equipo seleccionado");
        }
    </script>
    </form>
</div>
{% endblock %}