{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=sprint.proyecto sprint_active=True %}
{% endblock %}

{% block title %}
    Sprints | Detalles: {{ sprint.id }}
{% endblock %}

{% block content %}
    <a class= "btn btn-default" onclick=window.history.back()>Volver a la lista de Sprints</a>

        <a class= "btn btn-default" href = "">Control de Calidad</a>
        <a class= "btn btn-default" href = "">Control</a>

    <div>
        <h3>Detalles del Sprint</h3>
    </div>
    <div>
        <strong>Fecha de Inicio:</strong>
        {% if sprint.fechaInicio == None %}
            <td><u><i>No definida</i></u></td>
        {% else %}
            <td>{{sprint.fechaInicio|date:"d/m/Y"}}</td>
        {% endif %}
        <br><strong>Fecha de Finalización:</strong>
        {% if sprint.fechaFinalizacion == None %}
            <td><u><i>No definida</i></u></td>
        {% else %}
            <td>{{sprint.fechaFinalizacion|date:"d/m/Y"}}</td>
        {% endif %}
        <br><strong>Estado del proyecto:</strong> {{ object.estado }}
        <br>
        {% if perm_sprint_edit %}
            {% if object.estado == "En espera" %}
            <a data-toggle="modal" href="#cambio_estado">
                <button class="btn btn-success" {% if not can_execute or not can_execute_2 %}disabled{% endif %}>
                    <span class="glyphicon glyphicon-play"></span>
                    {% if can_execute and can_execute_2 %}Empezar Sprint{% elif not can_execute%}Hay un Sprint en Ejecución{% else %}Hay User Stories pendientes en Control de Calidad{% endif %}
                </button>
            </a>
            {% include "sprint/cambioestado.html" with sprint=object to="En ejecución"%}
            {% endif %}
            {% if object.estado == "En ejecución" %}
            <a data-toggle="modal" href="#cambio_estado">
                <button class="btn btn-success">
                    <span class="glyphicon glyphicon-stop"></span>
                    Finalizar Sprint
                </button>
            </a>
            {% include "sprint/cambioestado.html" with sprint=object to="Finalizado"%}
            {% endif %}
        {% endif %}
    </div>
    <div class="col-sm-5 col-md-5" id="Reuniones">
        <h3>Sprint Backlog</h3><br>
        <script>
        function filtrar() {
            var select = document.getElementById("filter");
            var filter = select.options[select.selectedIndex].value;

            console.log("Redirige a "+filter);
            if (filter == ""){
                window.location.href = "/proyecto/{{ object.proyecto_id }}/sprint/{{ object.id }}";
            }else{
                window.location.href = "?filter_by=" + filter;
            }

        }
        </script>
    <script>
        function Reporte() {
            var select = document.getElementById("filter");
            var filter = select.options[select.selectedIndex].value;

            console.log("Redirige a "+filter);
            if (filter == "" || filter == ""){
                window.location.href = "/proyecto/{{ object.proyecto_id }}/sprint/{{ object.id }}/pdf";
            }else{
                window.location.href =  "/proyecto/{{ object.proyecto_id }}/sprint/{{ object.id }}"+'/pdf/'+filter;
            }

        }
        </script>

        <div>Filtrar por
            <select name="filter" id="filter">
                <option value="" {% if not filter_by %}selected{% endif %}>Sin filtro</option>
                {% for member in object.proyecto.miembro_set.all %}
                <option value="{{ member.id }}" {% if filter_by == member.id|stringformat:"i" %}selected{% endif %}>{{ member.usuario.username }}</option>
                {% endfor %}
            </select>
            <a class="btn btn-info" onclick="filtrar()">Filtrar</a>
            <a class="btn btn-info" onclick="Reporte()">Reporte</a>
        </div>
        <table class="table table-bordered">
        <table class="table table-striped table-bordered ">
            <thead>
            <tr>
                <td><strong>Nombre</strong></td>
                <td><strong>Estado</strong></td>
                {% if perm_us_view or perm_us_edit  %}
                <td><strong>Acciones</strong></td>
                {% endif %}
            </tr>
            </thead>
            <tbody class="pre-scrollable">
            {% for us in sprint_backlog %}
                <tr>
                    <td>{{ us.nombre }}</td>
                    {% if us.estado == None %}
                        <td><u><i>No definido</i></u></td>
                    {% else %}
                        <td>{{ us.get_estado_display }}</td>
                    {% endif %}
                    {% if perm_us_view or perm_us_edit  %}
                    <td>{% if perm_us_view %}
                            <a href="{% url "proyectos:userstory:detalle" object.proyecto.id us.id%}" style="display: inline">
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </button>
                            </a>
                        {% endif %}{% if perm_us_edit %}
                            <a href="{% url "proyectos:userstory:modificar" object.proyecto.id us.id%}" style="display: inline">
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                            </a>
                    {% endif %}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-5 col-md-5">
        <h3>Reuniones
            {% if perm_sprint_edit  %}
            <a data-toggle="modal" href="#agregarResumen">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </a>
            {% endif %}
        </h3><br>
        <div class="pre-scrollable">
        <table class="table table-striped table-bordered ">
            <thead>
            <tr>
                <td><strong>Fecha (Dia/Mes/Año)</strong></td>
                <td><strong>Titulo</strong></td>
            </tr>
            </thead>
            <tbody>
            {% for reunion in object.reuniones_set.all %}
                <tr>
                    <td>{{ reunion.fecha|date:"d/m/Y" }}</td>
                    <td>{{ reunion.titulo }}</td>
                    <td>
                        <a data-toggle="modal" href="#verResumen_{{reunion.id}}">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        </a>
                        {% if perm_sprint_edit %}
                        <a data-toggle="modal" href="#editarResumen_{{reunion.id}}">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </a>
                        <a data-toggle="modal" href="#borrarResumen_{{reunion.id}}">
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </a>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% include "reuniones/agregar.html" with sprint=object %}
{% for reunion in object.reuniones_set.all %}
{% include "reuniones/ver.html" with reunion=reunion %}
{%  if perm_sprint_edit %}
{% include "reuniones/editar.html" with reunion=reunion%}
{% include "reuniones/borrar.html" with reunion=reunion%}
{% endif %}
{% endfor %}
{% if object.estado != "En ejecucion" %}
<script>
    function fecha_fin(){
        var FF = document.getElementById("id_fechaFinalizacion");
        var FI = document.getElementById("id_fechaInicio");
        var df = new Date(FF.value);
        var di = new Date(FI.value);
        if ( isNaN(di) || isNaN(df) || di<=df) {
            FF.setCustomValidity("");
        }
    }
    function seleccionar() {
        var k;
        var box = document.getElementsByName("sprintBacklog");
        if($('input:checkbox:checked').length==1){
            for (k=0;k<box.length;k++){
                box[k].setCustomValidity("");
            }
        }
    }
    function verificar() {
        var k;
        var box = document.getElementsByName("sprintBacklog");
        var cant = $('input:checkbox').length;
        var filter = $('input:checkbox:checked').length;
        console.log(filter+"/"+cant);
        if (filter == 0 && cant > 0 ){
            for (k=0;k<box.length;k++){
                box[k].setCustomValidity("Seleccione al menos un User Story para el Sprint");
            }
        }else{
            for (k=0;k<box.length;k++){
                box[k].setCustomValidity("");
            }
        }
        var FF = document.getElementById("id_fechaFinalizacion");
        var FI = document.getElementById("id_fechaInicio");
        var df = new Date(FF.value);
        var di = new Date(FI.value)
        if ( isNaN(di) || isNaN(df) || di<=df) {
            FF.setCustomValidity("");
        }else{
            FF.setCustomValidity("La Fecha de Finalizacion no puede ser menor a la Fecha de Inicio");
        }
    }
</script>
{% endif %}
{% endblock %}