{% extends 'base/proyecto.html' %}

{% block title %}
    Eliminar Sprint
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
    <div class="container center-block">
        <p> </p>
        <h3>Confirmacion de eliminación</h3>
	    <h4>&nbsp;¿Desea eliminar el sprint ?</h4>
	    <button class="btn btn-danger" type="submit">Sí, eliminar</button>

        <a class="btn btn-default" href="{% url 'proyecto:sprint:listar_sprint' proyecto.id%}">Cancelar</a>
    </div>
</form>
{% endblock %}
