{% extends 'base/proyecto.html' %}


{% block title %}
    Sprints | Lista de Sprints
{% endblock %}



{% block content %}
<div class="container">

<table class="table table-bordered">
    <h2>Proyecto {{ proyecto.nombre }}: Sprints </h2>
    <div><p> </p></div>
    <a class= "btn btn-default" href="/proyecto/{{ proyecto.id }}/detalle">Volver al proyecto</a>

    {% if perm_import %}<a class="btn btn-warning" href="importar">Importar Sprint</a>{% endif %}
    <div><p> </p></div>
    <thead>
		<tr>
			<td>Fecha de Inicio (Dia/Mes/Año)</td>
            <td>Fecha de Fin (Dia/Mes/Año)</td>
            <td>Duración (en días)</td>
            <td>Estado</td>
            <td>Cantidad de US</td>
            <td></td>
		</tr>
    </thead>
    <tbody>
        <div></div>
		{% if object_list %}
		    {% for sprint in object_list %}
		    <tr>
                {% if sprint.fechaInicio == None %}
                    <td><u><i>No definida</i></u></td>
                {% else %}
                    <td>{{sprint.fechaInicio|date:"d/m/Y"}}</td>
                {% endif %}
                {% if sprint.fechaFinalizacion == None %}
                    <td><u><i>No definida</i></u></td>
                {% else %}
                    <td>{{sprint.fechaFinalizacion|date:"d/m/Y"}}</td>
                {% endif %}
                <td>{{ sprint.duracion}}</td>
                <td>{{ sprint.estado}}</td>
                <td>
                    {{sprint.sprintBacklog.count}}
                </td>
			    <td>

                    {% if sprint.estado == "En espera" %}
                        <form method="post" action={% url "proyecto:sprint:cambiar_estado" proyecto.id sprint.id%}>
                            {% csrf_token %}
                            <input hidden name="estado" value="Activo">
                            <button type="submit" class="btn btn-info ">Iniciar</button>
                        </form>
                    {% endif %}
                    {% if sprint.estado == "Activo" %}
                        <form method="post" action={% url "proyecto:sprint:cambiar_estado" proyecto.id sprint.id%}>
                            {% csrf_token %}
                            <input hidden name="estado" value="Cancelado">
                            <button type="submit" class="btn btn-info" >Cancelar</button>
                        </form>
                    {% endif %}
                    <a class="btn btn-primary" href="{% url 'proyecto:sprint:detalle_sprint' sprint.proyecto.id sprint.id %}"> Ver Detalle</a>
                    <a class="btn btn-danger" href="{% url 'proyecto:sprint:modificar_sprint' sprint.proyecto.id sprint.id %}">Modificar</a>
                    <a class="btn btn-danger" href="{% url 'proyecto:sprint:eliminar_sprint' sprint.proyecto.id sprint.id %}">Eliminar</a>
			    </td>
		    </tr>
		    {% endfor %}

		{% else %}
		    <h2>No hay registros de Sprints</h2>
            <div><p> </p></div>
		{% endif %}
</tbody>
</table>
<ul class="pagination">
	<li class="page-item">
		{% if page_obj.has_previous %}
       	 <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a class="page-link" aria-label="Siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	{% endif %}
    </li>
</ul>
</div>

{% endblock %}
