{% extends 'base/proyecto.html' %}
{% block title %}Lista de Roles de Proyecto {% endblock %}
{% block content %}
<table class="table table-bordered">
                <h1 align='center'><b>ROLES DE PROYECTO</b></h1>
                <thead>
                    <tr>
                        <td>id</td>
                        <td>Nombre del Rol</td>
                        <td>Permisos</td>
                        <td>Opciones</td>
                    </tr>
                </thead>
                <tbody>
                {% if object_list %}
                {% for rol in object_list %}
                <tr>
                    <td>{{rol.id }}</td>
                    <td>{{rol.name}}</td>

                    <td>
                        {% for p in rol.permissions.all %}
                            {% if forloop.first %}  
                                {{ p.name }}
                            {% else %}
                                 {{ p.name }}
                            {% endif %}
                        {%endfor%}
                    </td>

                    <td>
                        <a class="btn btn-primary" href="modificar/{{ rol.id }}">Modificar</a>
                        <a class="btn btn-danger" href="eliminar/{{ rol.id }}">Eliminar</a>
                    </td>
                </tr>
                {%endfor%}

        {% else %}
            <h1> No hay registros de Roles en este Proyecto</h1>
        {% endif %}
    </tbody>
</table>
{% endblock%}