{% extends 'base/proyecto.html' %}
{% block title %}
   Nuevo Rol de Proyecto
{% endblock %}
{% block content %}
    <div class="container center-block pt-3">
{% if form.errors %}
        <div class="col-md-8 col-md-offset-2 alert alert-danger">
                {% for error,mensaje in form.errors.items %}
                    <p align="center">Ya existe un rol con ese nombre</p>
                {% endfor %}
        </div>
{% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Nombre del Rol:</label>
                        <input class="form-control" type="text" name="name" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Permisos: (si desea seleccionar permisos alternados pulse la tecla ctrl y seleccione el permiso)</label>
                        <p>
                            {{ form.permissions}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <a class= "btn btn-default" href="{% url 'proyecto:rolProyecto:listar' proyecto.id%}">Cancelar</a>
                        <button class="btn btn-primary "type="submit">Crear</button>
                    </div>
                </div>
            </div>
        </form>
        <style>
            select{
                width: 100%;
                min-height: 350px;
            }
        </style>
    </div>
{% endblock %}
