{% extends 'base/proyecto.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h3>¿Desea Eliminar el rol de proyecto {{ object.name }}? </h3>>
    <button class="btn btn-danger" type="submit">Si, eliminar </button>
    <a class="btn btn-default" href="/proyecto/{{ proyecto.id }}/rolProyecto">Cancelar</a>
</form>
{% endblock %}