{% extends 'base/proyecto.html' %}
{% block title %}
    Roles | Editar: {{ object.name }}
{% endblock %}


{% block content %}
    <div class="container center-block pt-3">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label id="id_name">Nombre del Rol:</label>
                       <input class="form-control" required id="id_name" name="name" value={{object.name}}>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Permisos: (si desea seleccionar permisos alternados pulse la tecla ctrl y seleccione el permiso)</label>
                        <p>
                            {{ form.permissions}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <a class= "btn btn-default" href="{% url 'proyecto:rolProyecto:listar' proyecto.id%}">Cancelar</a>
                        <button class="btn btn-primary "type="submit">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
        <style>
            select{
                width: 100%;
                min-height: 350px;
            }
        </style>
    </div>
{% endblock %}
