{% extends 'base/proyecto.html' %}

<!-- BOTONES DESHABILITADOS -->
{% block habilitar_buscador %}{% endblock %}
{% block habilitar_usuarios %}{% endblock %}
{% block habilitar_roles %}{% endblock %}
{% block add_proyecto %}{% endblock %}

<!-- BOTÓN ACTIVO -->
{% block us_active %}
    active
{% endblock %}

<!-- ID del proyecto -->
{% block id_proyecto1 %}{{ proyecto.id }}{% endblock %}
{% block id_proyecto2 %}{{ proyecto.id }}{% endblock %}
{% block id_proyecto3 %}{{ proyecto.id }}{% endblock %}
{% block id_proyecto4 %}{{ proyecto.id }}{% endblock %}

{% block title %}
    NotasUS | Añadir Nota a US
{% endblock %}

{% block content %}
 <div class="container-fluid">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1>
                    <p class="text-center">Añadir Nota a US</p>
                </h1>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <label>Nombre:</label>
                                {{ form.nombre }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>Descripción:</label>
                                    {{ form.descripcion }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>Archivo:</label>
                                    {{ form.archivo_adjunto }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>Horas:</label>
                                    {{ form.horas }}
                                    <label>(horas)</label>
                                </div>
                            </div>
                        </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <p class="text-center">
                                <button type="submit" class="boton_alta">
                                    Añadir Nota
                                </button>&nbsp;

                                <a class= "btn btn-danger" href="{%  url 'proyecto:us:detalle_us' proyecto.id us.id %}">Cancelar</a>
                            </p>
                        </div>
                        <div class="form-group">

                </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
{% endblock %}
