{% extends 'base/proyecto.html' %}

<!-- BOTONES DESHABILITADOS -->
{#{% block habilitar_buscador %}{% endblock %}#}
{#{% block habilitar_usuarios %}{% endblock %}#}
{#{% block habilitar_roles %}{% endblock %}#}
{#{% block add_proyecto %}{% endblock %}#}

<!-- BOTÓN ACTIVO -->
{#{% block us_active %}#}
{#    active#}
{#{% endblock %}#}
{##}
{#<!-- ID del proyecto -->#}
{#{% block id_proyecto1 %}{{ proyecto.id }}{% endblock %}#}
{#{% block id_proyecto2 %}{{ proyecto.id }}{% endblock %}#}
{#{% block id_proyecto3 %}{{ proyecto.id }}{% endblock %}#}
{#{% block id_proyecto4 %}{{ proyecto.id }}{% endblock %}#}
{##}
{#{% block title %}#}
{#    User Stories | Detalles: {{ userstory.nombre }}#}
{#{% endblock %}#}

{% block content %}
    <div class="container center-block">
        <div class="container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1>
                    <p class="text-center">Detalles de {{ object.nombre }}</p>

                </h1>
            </div>
            <div class="panel-body">
                <div class="col-sm-10 col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <h1>{{ object.nombre }} <br>
                                <small>Estado: {{ object.get_estado_us_display }}</small><br>
                                <small>Fase actual: {{ object.actividad_actual }}</small><br>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <strong>Descripción corta:</strong> {{ object.descripcion_corta }}<br>
                    <strong>Descripción larga:</strong> {{ object.descripcion_larga }}<br>
                    <strong>Prioridad Inicial:</strong> {{ object.prioridad }}<br>
                    <strong>Prioridad Final:</strong> {{ object.prioridad_final }}<br>
                    <strong>Tipo de US:</strong> {{ object.tipo_us.nombre }}<br>
                    <strong>Asignado a:</strong> {{ object.team_member.usuario.username }}<br>
                    <strong>Asignado a proyecto:</strong> {{ object.proyecto.nombre }}<br>
                    <strong>Valor de negocio:</strong> {{ object.valor_negocio }}<br>
                    <strong>Valor técnico:</strong> {{ object.valor_tecnico }}<br>
                    <strong>Tiempo estimado:</strong> {{ object.tiempo_estimado }} (horas)<br>
                    <strong>Tiempo dedicado:</strong> {{ object.tiempo_dedicado }} (horas)<br>
                </div>
                <div><center>
                    <a class="btn btn-default" onclick="window.history.back();">Volver</a>
                    <a class="btn btn-default" href="{% url 'proyecto:us:nota:crear_nota' proyecto.id us.id %}">Añadir Nota</a>
                    <a class="btn btn-default" href="{% url 'proyecto:us:nota:listar_nota' proyecto.id us.id %}">Listar Notas</a>
                </center></div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
