{% extends 'base/proyecto.html' %}

<!-- BOTONES DESHABILITADOS -->
{% block habilitar_buscador %}{% endblock %}
{% block habilitar_usuarios %}{% endblock %}
{% block habilitar_roles %}{% endblock %}
{% block add_proyecto %}{% endblock %}

<!-- BOTÓN ACTIVO -->
{% block us_active %}
    active
{% endblock %}

<!-- ID del proyecto -->
{% block id_proyecto1 %}{{ userstory.proyecto.id }}{% endblock %}
{% block id_proyecto2 %}{{ userstory.proyecto.id }}{% endblock %}
{% block id_proyecto3 %}{{ userstory.proyecto.id }}{% endblock %}
{% block id_proyecto4 %}{{ userstory.proyecto.id }}{% endblock %}

{% block title %}
    User Stories | Eliminar: {{ us.nombre }}
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
    <div class="container center-block">
        <p> </p>
        <h3>Confirmacion de eliminación</h3>
	    <h4>&nbsp;¿Desea eliminar el user story: {{ object.nombre }} ?</h4>
	    <button class="btn btn-danger" type="submit">Sí, eliminar</button>

        <a class="btn btn-default" href="{% url 'proyecto:us:listar_us' proyecto.id%}">Cancelar</a>
    </div>
</form>
{% endblock %}
