{% extends 'base/proyecto.html' %}
{% block title %}Lista de US{% endblock %}
{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <td>id</td>
            <td>Nombre de US</td>
            <td>Proyecto</td>
            <td>Prioridad Final</td>
            <td>Estado de US</td>
            <td>Opciones</td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
                {% for us in object_list %}
                        <tr>
                            <td>{{us.id }}</td>
                            <td>{{us.nombre}}</td>
                            <td>{{us.proyecto.nombre}}</td>
                            <td>{{us.prioridad_final}}</td>
                            <td>{{us.get_estado_us_display}}</td>
                            <td>
                                <a class="btn btn-primary" href="{%  url 'proyecto:us:detalle_us' proyecto.id us.id %}"> Ver Detalle</a>
                                <a class="btn btn-danger" href="{%  url 'proyecto:us:modificar_us' proyecto.id us.id %}">Modificar</a>
                                <a class="btn btn-danger" href="{%  url 'proyecto:us:eliminar_us' proyecto.id us.id %}">Eliminar</a>
                            </td>
                        </tr>
                {%endfor%}
        {% else %}
            <h1> No hay registros de User Story </h1>
        {% endif %}
    </tbody>
</table>
{% endblock%}
