{% extends 'base/proyecto.html' %}
{% block title %}Lista de Notas{% endblock %}
{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <td>id</td>
            <td>Nombre de la Nota</td>
            <td>Descripcion</td>
            <td>User Story asociado</td>
            <td>Horas Trabajadas</td>

        </tr>
    </thead>
    <tbody>
        {% if object_list %}
                {% for nota in object_list %}
                        <tr>
                            <td>{{nota.id }}</td>
                            <td>{{nota.nombre}}</td>
                            <td>{{nota.descripcion}}</td>
                            <td>{{nota.us.nombre}}</td>
                            <td>{{nota.horas}}</td>

                        </tr>
                {%endfor%}
        {% else %}
            <h1> No hay registros de User Story </h1>
        {% endif %}
    </tbody>
</table>
{% endblock%}
