{% extends 'base/proyecto.html' %}

<!-- BOTONES DESHABILITADOS -->
{% block habilitar_buscador %}{% endblock %}
{% block habilitar_usuarios %}{% endblock %}
{% block habilitar_roles %}{% endblock %}
{% block add_proyecto %}{% endblock %}

<!-- BOTÓN ACTIVO -->
{% block us_active %}
    active
{% endblock %}

<!-- ID del proyecto -->
{% block id_proyecto1 %}{{ proyecto.id }}{% endblock %}
{% block id_proyecto2 %}{{ proyecto.id }}{% endblock %}
{% block id_proyecto3 %}{{ proyecto.id }}{% endblock %}
{% block id_proyecto4 %}{{ proyecto.id }}{% endblock %}

{% block title %}
    User Stories | Editar: {{ userstory.nombre }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1>
                    <p class="text-center">Modificar US: {{ userstory.nombre }}</p>
                </h1>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <label>Nombre:</label>
                                {{ form.nombre }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                                <div class="form-group"><label>Descripción corta:</label>
                                    {{ form.descripcion_corta }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>Descripción larga:</label>
                                    {{ form.descripcion_larga }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <div><tr><th><label for="id_tus">Tipo US:</label></th><td>
                                        <select name="tipo_us" id="id_tus" required>
                                            {% if not us.tipo_us_id %}<option value="" selected>---------</option>{% endif %}
                                        {% for tus in tus_list %}
                                            <option value="{{ tus.id }}" {% if us.tipo_us_id == tus.id %}selected{% endif %}>{{ tus.nombre }}</option>
                                        {% endfor %}
                                        </select>
                                    </td></tr></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>Prioridad:</label>
                                    {{ form.prioridad }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>Valor de negocio:</label>
                                    {{ form.valor_negocio }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>Valor técnico:</label>
                                    {{ form.valor_tecnico }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>Archivo:</label>
                                    {{ form.archivo_adjunto }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>Tiempo estimado:</label>
                                    {{ form.tiempo_estimado }}
                                    <label>(horas)</label>
                                </div>
                            </div>
                        </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <p class="text-center">
                                <button type="submit" class="boton_alta">
                                    Guardar Cambios
                                </button>&nbsp;
                                <button onclick="window.history.back();" class="boton_cancelar">
                                    Cancelar
                                </button>
                            </p>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
{% endblock %}