{% extends 'base/proyecto.html' %}

{% block title %}
    Release Baklog
{% endblock %}

{% block content %}
    {% load guardian_tags %}
    {% get_obj_perms request.user for proyecto as "US_perms" %}
    <div class="container center-block">
        <div class="container-fluid">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1>
                    <p class="text-center">{{ proyecto.nombre }} : User Stories Finalizados</p>
                </h1>
            </div>
            <div class="panel-body">
                <p></p>
                <a class= "btn btn-default" onclick="window.history.back();" > Atrás</a>
                <table class="table table-bordered">
                    <div><p> </p></div>
                    {% if us_list %}
                    <thead>
                        <tr>
                            <td><b><center>Id</center></b></td>
                            <td><b><center>Nombre</center></b></td>
                            <td><b><center>Descripción</center></b></td>
                            <td><b><center>Estado</center></b></td>
                            <td><b><center>Finalizado por:</center></b></td>
                            <td><b><center>Última modificación</center></b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <div></div>
                            {% for us in us_list %}
                                <tr>
                                    <td>{{ us.id }}</td>
                                    <td>{{ us.nombre }}</td>
                                    <td>{{ us.descripcion_corta }}</td>
                                    <td>{{ us.get_estado_us_display }}</td>
                                    {% if us.team_member_id == null %}
                                        <td style="color:#FF0000";><i>Aún no ha sido asignado a algún integrante</i></td>
                                    {% else %}
                                        <td>{{ us.team_member.usuario.username }}</td>
                                    {% endif %}
                                    <td>{{ us.fecha_modificacion }}</td>

                                </tr>
                            {% endfor %}
                    </tbody>
                    {% else %}
                        <h2>No hay registros de US finalizados</h2>
                        <div><p> </p></div>
                    {% endif %}
                </table>
                <ul class="pagination">
                    <li class="page-item">
                        {% if page_obj.has_previous %}
                         <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if page_obj.has_next %}
                         <a class="page-link" aria-label="Siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
