{% extends 'base/proyecto.html' %}
{% block title %}
    kanban | Modificar usuario asignado a {{ user_story }}
{% endblock %}
{% block content %}
 <form method="post">
  {% csrf_token %}
            <h1 align="center">User story : {{ user_story }} </h1>
        <div class="row">
        <div class="col-md-8 col-md-offset-1">
                <div class="form-group">
                    <tr>
                    <th><label style="width: 140px;">Usuario asignado:</label></th>
                    <td><input style="width: 200px;" class="col-md-offset-1"  value='{{usuario_actual}}'></td>
                    </tr>
                </div>
            </div>

        <div class="col-md-8 col-md-offset-1">
            <tr>
                <th><label for="id_team_member" style="min-height: 100px">Miembros del Sprint:</label></th>
                <td>
                    <select name="team_member" id="id_team_member" style="width: 200px;" class="col-md-offset-1" required>
                        <option value="" selected> </option>
                    {% for usuarios in miembro_list %}
                        <option value="{{ usuarios.id}}">
                            {{usuarios.usuario}}
                        </option>
                    {% endfor %}
                    </select>
                 </td>
            </tr>
        </div>
        </div>
         <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <div class="form-group">
                    <a class= "btn btn-danger" href={% url 'proyecto:kanban' proyecto.id%}>Cancelar</a>
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
            </div>
         </div>

 </form>

{%  endblock%}