{% extends 'base/proyecto.html' %}

{% block title %}
     Agregar Miembro
{% endblock %}

{% block content %}
    <div class="container center-block">
        <form method="post">
        {% csrf_token %}
        {% if user_list %}
            <h2 align="center"> Agregar integrante al proyecto {{ proyecto.nombre }}</h2>

            <div class="col-md-8 col-md-offset-1">
                <tr>
                    <th><label for="id_usuario">Usuario:</label></th>
                    <td>
                        <select name="usuario" id="id_usuario" style="width: 200px;" class="col-md-offset-2" required>
                            <option value="" selected> </option>
                        {% for usuarios in user_list %}
                            <option value="{{ usuarios.id }}">{{ usuarios.username }}</option>
                        {% endfor %}
                        </select>
                     </td>
                </tr>
            </div>

            <div class="col-md-8 col-md-offset-1">
                <tr>
                    {% if rol_list %}
                        <th><label for="id_rolProyecto">Rol en Proyecto:</label></th>
                        <td>
                            <select name="rolProyecto" id="id_rolProyecto" style="width: 200px;" class="col-md-offset-1" required>
                                <option value="" selected> </option>
                                    {% for rol in rol_list %}
                                        <option value="{{ rol.id }}">{{ rol.name}}</option>
                                    {% endfor %}
                            </select>
                        </td>
                    {% else %}
                        <label>Rol en Proyecto:     Necesita crear rol de proyecto para poder asignar a los miembros</label>
                    {% endif %}
                </tr>
            </div>
            <div class="col-md-8 col-md-offset-1">
                <tr>
                    <th>
                        <label for="id_horasDeTrabajo">Horas de trabajo:</label>
                    </th>
                    <td><input type="number" name="horasDeTrabajo" value="4" min="1" max="10" style="width: 70px" id="id_horasDeTrabajo" required /></td>
                </tr>
            </div>

            <div class="row"></div><br>

            <div class="col-md-8 col-md-offset-1">
                <div class="form-group">
                    <a class= "btn btn-danger" href="/proyecto/{{ proyecto.id }}/miembro">Cancelar</a>
                    {% if rol_list %}
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    {% else %}
                        <button disabled class="btn btn-primary" type="submit">Guardar</button>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <h1>No hay registro de Miembros en el proyecto</h1>
        {% endif %}
        </form>
    </div>
{% endblock %}