{% extends 'base/proyecto.html' %}

{% block title %}
    Eliminar Miembro
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
    <div class="container center-block">
        <p> </p>
        <h3>Confirmacion de expulsion</h3>
	    <h4>¿Desea expulsar al usuario {{ object.usuario.username }} del proyecto {{ proyecto.nombres }}?</h4>
	    <button class="btn btn-danger" type="submit">Sí, eliminar</button>
        <a class= "btn btn-default" href="/proyecto/{{ proyecto.id }}/miembro">Cancelar</a>
    </div>
</form>
{% endblock %}