{% extends 'base/proyecto.html' %}

{% block title %}
    Proyecto | Miembros
{% endblock %}

{% block content %}
<div class="container">

<table class="table table-bordered">
    <div><p> </p></div>
    <a class= "btn btn-default" href="/proyecto/{{ proyecto.id }}/detalle"> Volver al proyecto</a>

    <div><p> </p></div>
    <thead>
		<tr>
            <td>Id</td>
			<td>Usuario</td>
            <td>Rol en Proyecto</td>
            <td>Cantidad de horas de trabajo (diarias/promedio)</td>
            <td>Opciones</td>
		</tr>

</thead>
    <tbody>
        <div></div>

		{% if object_list %}
		    {% for Miembro in object_list %}
		    <tr>
                <td>{{ Miembro.id }}</td>
			    <td>{{ Miembro.usuario.username }}</td>
                {% if Miembro.rolProyecto.name == None %}
                    <td>
                        <u>
                            <i>No posee Rol de Proyecto</i>
                        </u>
                    </td>
                {% else %}
                    <td>{{ Miembro.rolProyecto.name}}</td>
                {% endif %}
                <td>{{ Miembro.horasDeTrabajo }}</td>
			    <td>
				    <a class="btn btn-primary" href= "modificar/{{Miembro.id}}">Modificar</a>
				    <a class="btn btn-danger" href= "eliminar/{{Miembro.id}}">Eliminar</a>
			    </td>
		    </tr>
		    {% endfor %}

		{% else %}
		    <h2>No hay registros de Miembro en el Proyecto</h2>
            <div><p> </p></div>
		{% endif %}
</tbody>
</table>
<ul class="pagination">
	<li class="page-item">
		{% if page_obj.has_previous %}
       	 <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a class="page-link" aria-label="Siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	{% endif %}
    </li>
</ul>
</div>

{% endblock %}
