{% extends 'base/proyecto.html' %}

{% block title %}
    Miembro | Modificar: {{ Miembro.usuario }}
{% endblock %}

{% block content %}
<div class="container pt-3 ">
    <form method="post">
        {% csrf_token %}

        <h3>Miembro: {{ object.usuario.username }} en {{ proyecto.nombre }}</h3>

        <div>
            <tr>
                <th><label for="id_rolProyecto">Rol en Proyecto:</label></th>
                <td>
                    <select name="rolProyecto" id="id_rolProyecto" required>
                        {% if Miembro.rolProyecto.name == None %}
                            <option value="" selected></option>
                        {% endif %}
                        {% for rol in rol_list %}
                            <option value="{{ rol.id }}"
                                    {% if rol.id == object.rolProyecto_id %}
                                        selected
                                    {% endif %}>
                                {{ rol.name }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </div>

        <div>
            <tr>
                <th>
                    <label for="id_horasDeTrabajo">Horas de trabajo:</label>
                </th>
                <td>
                    <input type="number" id="id_horasDeTrabajo" min="1" name="horasDeTrabajo" value="{{ object.horasDeTrabajo }}" required /></td>
            </tr>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <a class= "btn btn-danger" href="/proyecto/{{ proyecto.id }}/miembro/">Cancelar</a>
                    <button class="btn btn-primary "type="submit">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
