{% extends 'base/proyecto.html' %}
{% block title %}
    Tipos de US | Lista de TUS
{% endblock %}

{% block content %}

<div class="container">
	<table class="table table-bordered">
		<h2 align="center">Tipos de User Story</h2>
		<h5><i><strong><u>Obs.</u>  Cada Actividad <u>"por defecto"</u> consta de 3 estados.</strong></i></h5>
		<h6>Estado 1 : To Do</h6>
		<h6>Estado 2 : Doing</h6>
		<h6>Estado 3 : Done </h6>
		<div><p> </p></div>
		<thead>
			<tr>
				<td>Nombre</td>
				<td>Descripcion</td>
				<td>Actividades</td>
			</tr>
		</thead>
		<tbody>
			{% if tipo_us %}
				{% for tipous in tipo_us %}
				<tr>
					<td>{{ tipous.nombre }}</td>
					<td>{{ tipous.descripcion}}</td>
                    


                    <td>
                        {% for act in actividad %}
                            {%if act.tipoUS == tipous %}
                                {% if forloop.first %}  
                                {{ act.nombre }}
                                {% else %}
                                     {{ act.nombre }}
                                {% endif %}
                            {% endif %}
                        {%endfor%}
                    </td>
                    
				</tr>
				{% endfor %}
			{% else %}
				<h2>No hay registros de Tipos de User Story</h2>
				<div><p> </p></div>
			{% endif %}
		</tbody>
	</table>
	<!--Boton de Salida-->
	<a class="btn btn-primary" href="{% url 'proyecto:tus:listar' proyecto.id%}">Volver a la lista</a>
</div>
{% endblock %}