{% extends 'base/proyecto.html' %}
{% block title %}
    Tipos de US | Lista de TUS
{% endblock %}

{% block content %}

<div class="container">
	<table class="table table-bordered">
		<h2 align="center">Tipos de User Story</h2>

		<thead>
			<tr>
				<td>Nombre</td>
				<td>Descripcion</td>
				<td>Opciones</td>
			</tr>
		</thead>
		<tbody>
			{% if object_list %}
				{% for tipous in object_list %}
				<tr>
					<td>{{ tipous.nombre }}</td>
					<td>{{ tipous.descripcion}}</td>
					<td>

{#						{% if perms.tipous.change_tipous %}#}
							<a class="btn btn-primary" href="{% url 'proyecto:tus:actualizar' proyecto.id tipous.id %}">editar</a>
{#						{% endif %}#}
{#						{% if perms.tipous.delete_tipous %}#}
							<a class="btn btn-danger" href="{% url 'proyecto:tus:eliminar' proyecto.id tipous.id %}">Eliminar</a>
{#						{% endif %}#}
					</td>
				</tr>
				{% endfor %}
			{% else %}
				<h2>No hay registros de Tipos de User Story</h2>
				<div><p> </p></div>
			{% endif %}
		</tbody>
	</table>
</div>
{% endblock %}