{% extends 'base/proyecto.html' %}
{% block title %}
    Crear Tipos de US
{% endblock %}

{% block extraestilo %}
.input_actividad{
    width: 70%;

}
{% endblock %}

{% block content %}
<div id="content" class="container">
                {% if us_list %}
                    <div class="col-md-8 col-md-offset-2 alert alert-danger">
                        <p align="center">El Tipo de User Story ya fue asignado a un user story</p>
                    </div>
                {% endif %}
    <div class="md-col-10">
        <div class="col-md-4">
            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
            <h3><bold>Actividades</bold></h3>
                <table class="table">
                    {{ actividades.management_form }}

                    {% for form in actividades.forms %}
                        {% if forloop.first %}
                            <thead>
                            <tr>
                                {% for field in  form.visible_fields %}
                                    <th> {{ field.label|capfirst }} </th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endif %}
                        <tr class="{% cycle row1 row2 %} formset_row">
                            {% for field in form.visible_fields %}
                                <td>
                                    {# Incluya los campos ocultos en el formulario #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                {% if not us_list %}
                    <button class="btn btn-primary" type="submit" >Guardar</button> <a href="{% url 'proyecto:tipous:listar' proyecto.id %}">volver a la lista</a>
                {% else %}
                    <button disabled class="btn btn-primary" type="submit" >Guardar</button> <a href="{% url 'proyecto:tipous:listar' proyecto.id %}">volver a la lista</a>
                {% endif %}
            </form>
        </div> 
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js"></script>
<script type ="text/javascript"> 
    $('.formset_row').formset({ 
        addText: 'Agregar', 
        deleteText: 'Borrar', 
        prefix: 'actividad_set' 
    });
</script>
<style>
    input{
        width: 100%;
        min-height: 10px;
    }
    a{
        color: black;
    }
</style>
{% endblock %}