{% extends 'base/proyecto.html' %}
{% block content %}
        {% if us_list %}
            <div class="col-md-8 col-md-offset-2 alert alert-danger">
                <p align="center">El Tipo de User Story ya fue asignado a un user story y no puede ser eliminado</p>
            </div>
            <br>
            <div class="col-md-8 col-md-offset-2 ">
            <a class="btn btn-default" href="{% url 'proyecto:tus:listar' proyecto.id%}">Volver a lista</a>
            </div>
        {% else %}
            <form method="post">
                {% csrf_token %}
                <h3>¿Desea Eliminar el Tipo de User Story {{ object.name }}? </h3>
                <button class="btn btn-danger" type="submit">Si, eliminar </button>
                <a class="btn btn-default" href="{% url 'proyecto:tus:listar' proyecto.id%}">Cancelar</a>
            </form>
        {% endif %}
{% endblock %}